body {
  padding: 30px;
}
.example {
  display: inline-block;
  margin-right: 5em;
  margin-bottom: 5em;
  max-width: 300px;
  vertical-align: top;
}

label {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  position: relative;
  z-index: 1; /* Place above pane */
  color: #444;
}

.uber_select{
  min-width: 100%; /* ensure select is at least as long as label */
  max-width: 300px;
  display: inline-block;
  margin: 5px 0;
  position: relative; /* Contain pane */
}
.uber_select .selected_text_container{
  border: 1px solid #E0E0E0;
  cursor: pointer;
  font-family: sans-serif;
  padding: 1px 31px 1px 3px;
  font-size: 20px;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative; /* Contain caret */
}
.uber_select .selected_text.empty{
  color: #aaa;
}

.uber_select .select_caret{
  font-size: 12px;
  font-family: 'FontAwesome';
  line-height: 24px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  background-color: white;
}

.uber_select .pane{
  position: absolute;
  border: 1px solid #E0E0E0;
  background-color: white;
  box-shadow: 0 3px 3px rgba(0,0,0,.1);
  margin: -60px 0 0 -20px;
  padding-top: 40px; /* Make room for input label */
  padding-right: 40px; /* grow the right side of the pane by the same as the left side */
  min-width: 100%; /* Don't be any narrower than the uber_select itself */
}

.uber_select .pane_inner{
  margin-right: -40px; /* grow the right side of the pane by the same as the left side */
}

.uber_select .results_container ul{
  font-family: sans-serif;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

.uber_select .results_container .results{
  overflow: auto;
  max-height: 310px;
  margin: 5px 0;
}

.uber_select .results_container .results.empty{
  display: none;
}

.uber_select .sublist_name{
  padding: 1px 15px;
  color: #888;
  display: list-item;
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 1em;
  font-weight: bold;
}
.uber_select .result{
  cursor: pointer;
  padding: 1px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.uber_select .result.selected{
  font-weight: bold;
}
.uber_select .result:hover, .uber_select .result.highlighted{
  background-color: #C4E4FF;
  color: inherit;
}
.uber_select .messages{
  padding: 1px 20px;
  color: #AAA;
  margin: 5px 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.uber_select.open .selected_text{
  visibility: hidden;
}

.uber_select .search_input{
  font-family: sans-serif;
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding: 0px 20px 15px;
  outline: none;
  box-sizing: border-box; /* IE8 */
}

.uber_select .search_input::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

.uber_select .clear_search_button{
  cursor: pointer;
  position: absolute;
  top: 35px;
  height: 23px;
  font-size: 20px;
  right: 5px;
  padding: 5px;
  background-color: inherit;
}
